name: 'Build and publish'

on:
  schedule:
    - cron: '40 13 * * 1'
  push:
    branches:
      - 'main'

jobs:
  docker:
    name: 'Build docker image and push to Docker Hub'
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: connorlanigan/code-server-with-node:latest
